@media (min-width: 800px) {
  body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .header h1 {
    font-size: 4.5rem;
  }

  .main__options h2,
  .main__result h2 {
    font-size: 3.1rem;
  }

  .main__result h1 {
    font-size: 3.5rem;
  }

  .main__result-loading h1 {
    font-size: 3.8rem;
  }

  .main__result-loading-icon {
    font-size: 3.5rem;
  }

  .main__options-icon {
    font-size: 16rem;
  }

  .main__result-played-icon {
    font-size: 16rem;
  }

  .main__form-label {
    font-size: 2.8rem;
  }

  .main__form-input {
    font-size: 2.5rem;
  }

  .main__form-warning {
    font-size: 1.5rem;
  }

  .footer__text {
    font-size: 1.5rem;
  }

  .main__result-icon {
    font-size: 10.5rem;
  }

  .main__result-try h1 {
    font-size: 3.2rem;
  }

  .main__result-try-icon {
    font-size: 8rem;
  }
}
